.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 10%;
    background-color: #15140D;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .sidebar li span {
    margin-left: 10px;
  }
  
  .sidebar li:hover {
    background-color: #ddd;
  }
  