.mision-container {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: orange;
  }
  
  .mision-content {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .mision-image {
    margin-left: 25%;
    width: 700px;
    height: auto;
  }